<div class="topbar">
    <nav class="nav-bar nav-bar--left">
      <ul class="nav-bar__lists">
        <li class="nav-bar__lists__item">
          <a class="nav-bar__lists__item__link nav-bar__lists__item__link--logo" href="#">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
            </svg>
            <span>pasha</span>
          </a>
        </li>
      </ul>
    </nav>
    <nav class="nav-bar nav-bar--right">
      <ul class="nav-bar__lists nav-bar__lists--left">
        <li class="nav-bar__lists__item">
          <a class="nav-bar__lists__item__link" href="#" id="burger">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use>
            </svg>
          </a>
        </li>
      </ul>
      <ul class="nav-bar__lists nav-bar__lists--right">
        <li class="nav-bar__lists__item">
          <a class="nav-bar__lists__item__link" href="#">
            <svg class="svg-icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cropfree"></use>
            </svg>
          </a>
        </li>
        <li class="nav-bar__lists__item">
          <a class="nav-bar__lists__item__link" href="#">
            <a href="#" role="button" id="activities" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#more"></use>
              </svg>
            </a>
            <div class="dropdown-menu" aria-labelledby="activities">
              <a class="dropdown-menu__item" href="#">
                <div class="circle">

                </div>
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cropfree"></use>
                </svg>
                <div class="dropdown-menu__item__title">
                  <h6>Robert</h6>
                  <p class="">1min</p>
                </div>
              </a>
              <a class="dropdown-menu__item" href="#">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cropfree"></use>
                </svg>
                <div class="dropdown-menu__item__title">
                  <h6>Robert</h6>
                  <p class="">1min</p>
                </div>
              </a>
              <a class="dropdown-menu__item" href="#">
                <svg class="svg-icon">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cropfree"></use>
                </svg>
                <div class="dropdown-menu__item__title">
                  <h6>Robert</h6>
                  <p class="">1min</p>
                </div>
              </a>
            </div>
          </a>
        </li>
        <li class="nav-bar__lists__item">
          <a class="nav-bar__lists__item__link" href="#">
            <a href="#" role="button" id="notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <svg class="svg-icon">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#notification"></use>
              </svg>
            </a>
            <div class="dropdown-menu" aria-labelledby="notifications">
              <a class="dropdown-menu__item" href="#">Action</a>
              <a class="dropdown-menu__item" href="#">Another action</a>
              <a class="dropdown-menu__item" href="#">Something else here</a>
            </div>
          </a>
        </li>
      </ul>
    </nav>
</div>
