<div id="activities-menu" class="activities-menu" >
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">Activity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="activity" role="tabpanel" aria-labelledby="ativity-tab">
      <div class="activities-menu__tab-activity">
        <div class="activities-menu__tab-activity__content">
          <p>5 minutes ago</p>
          <h5><b>John Doe</b> Upladed photo </h5>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</h6>
        </div>

        <div class="activities-menu__tab-activity__content">
          <p>5 minutes ago</p>
          <h5><b>John Doe</b> Upladed photo </h5>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</h6>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      <div class="activities-menu__tab-settings">

      </div>
    </div>
  </div>
</div>
