<div id="activities-menu" class="activities-menu" >
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true">Activity</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="activity" role="tabpanel" aria-labelledby="ativity-tab">
      <div class="activities-menu__tab-activity">
        <div class="activities-menu__tab-activity__content">
          <p>5 minutes ago</p>
          <h5><b>John Doe</b> Upladed photo </h5>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</h6>
        </div>

        <div class="activities-menu__tab-activity__content">
          <p>5 minutes ago</p>
          <h5><b>John Doe</b> Upladed photo </h5>
          <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore</h6>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
      <div class="activities-menu__tab-settings">
        <div class="activities-menu__tab-settings__options">
          <div class="activities-menu__tab-settings__options__tag">
            <h6>Notification</h6>
            <p>Do you need them?</p>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="settingNotifications">
            <label class="custom-control-label" for="settingNotifications"></label>
          </div>
        </div>
        <div class="activities-menu__tab-settings__options">
          <div class="activities-menu__tab-settings__options__tag">
            <h6>API Access</h6>
            <p>Enalbe/Disable access</p>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="apiAccess">
            <label class="custom-control-label" for="apiAccess"></label>
          </div>
        </div>
        <div class="activities-menu__tab-settings__options">
          <div class="activities-menu__tab-settings__options__tag">
            <h6>Auto Updates</h6>
            <p>Keep up to date</p>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="autoUpdates">
            <label class="custom-control-label" for="autoUpdates"></label>
          </div>
        </div>
        <div class="activities-menu__tab-settings__options">
          <div class="activities-menu__tab-settings__options__tag">
            <h6>Online Status</h6>
            <p>Show your status to all</p>
          </div>
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="onlineStatus">
            <label class="custom-control-label" for="onlineStatus"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
