.profile-main{
  color: $font-color;
  &__top{
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    text-align: center;


    .circle{
      @include circle($height: 150px, $width: 150px);
    }

    &__nametag{
      margin: 15px;
      text-align: center;
    }

    &__buttons{
        input{
          &[name="follow"]{
            @include default-button($height: 40px, $width: 47%, $background: rgba(102, 187, 106, 0.85), $brd-radius: 10%)

          }

          &[name="message"]{
            @include default-button($height: 40px, $width: 47%, $background: rgba(238, 110, 115, 0.85), $brd-radius: 10%)

          }

        }





    }
  }

  &__bottom{
    padding: 20px 10px;
    h6{
      display: inline-block;
    }
    p{

    }

  }

}
