.section-container{
  margin-top: $nav-height + 20;
  margin-left: $nav-width-left + 15;

  &--closed{
    margin-left: 85px;
  }
}

.section-title{
  &_nav{
    a{
      &:first-of-type{
        &:after{
          content: '/';
        }
      }
    }
  }

  margin-bottom: 15px;
}

.row{
  &--main{
    margin-bottom: 15px;
  }
  &--users{
    margin-bottom: 15px;
  }
}

.boxes{
  -webkit-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
  border-radius: $border-radius;
  background-color: $boxes-color;
  padding: 15px;


  .circle{
    @include circle();
  }

  margin-bottom: 15px;
}
.sidenav--closed{
  .topbar{
    .nav-bar{
      &--left {
        width: $width-closed;
        span {
          display: none;
        }
      }
    }
  }
  .section-container{
    margin-left: $width-closed + 15;
  }
}
// div[class^="col"] - in the beginning
// div[class*="col"] - whenever
