---
layout: login.hbs
---
<div class="container perfect-center">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="login">
        <div class="login__title">
          <svg class="svg-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cloud"></use>
          </svg>
        </div>
        <div class="login__form">
          <form class="login-form" name="login-form" action="dashboard.html">
            <div class="login__form__item">
              <input type="email" name="email" value="" required="required">
              <label class="label-inside" for="email">Email</label>
            </div>
            <div class="login__form__item">
              <input type="password" name="password" value="" required="required">
              <label class="label-inside" for="password">Password</label>
            </div>
            <div class="login__form__item login__form__item--checkbox">
              <div class="checkbox">
                <input type="checkbox" name="remember" value="" id="remember">
                <label for="remember">Remember me</label>
              </div>
            </div>
            <div class="login__form__item">
              <button type="button" name="button" class="button button--full-width">Log in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
