.topbar{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

  .nav-bar{
    height: $nav-height;
    background-color: $default-bg;



    &--left{
      float: left;
      width: $nav-width-left;
    }

    &--right{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }

    &__lists{
      line-height: $nav-height;
      list-style: none;



      &--left{

      }

      &--right{

      }

      &__item{
        display: inline;
        padding: 0 20px;

        &__link{
          color: $nav-font-color;

            .circle{
              @include circle($width: 50px, $height: 50px);
          }



          .svg-icon{
            fill: #fff;
          }


          &--logo{
            text-transform: uppercase;
            text-align: center;
            font-weight: bold;
            text-decoration: none;

          }

        }
        .dropdown-menu{
          padding: 0;
          &__item{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 10px 20px;
            line-height: 1.5;
            text-decoration: none;
            color: black;
            .circle{
              @include circle($width: 40px, $height: 40px);
            }
            &__title{
              margin-left: 10px;

              .h6{

              }
              .p{

              }
            }
          }

          .extend{
            padding: 0;
            background-color: $bg-color;

            div{
              padding: 10px 15px;
            }

          }
        }
      }
    }
}
